<section id="Sabados"  class="background z-0 md:p-8">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>


  <div class="p-7 text-center z-20">
<h1 class="  font-semibold text-3xl md:text-5xl pt-6 uppercase">Sabados Vida</h1>
<p class=" text-xl text-bold  my-6">Disfruta junto a nosotros en las actividades de los sabados</p>
</div>
<div class="row  flex py-3 h-full">
    <div class="example-1 card">
      <div class="wrapper ">
        
        <div class="data">
          <div class="content content-center">
            <h1 class="title text-white font-bold py-3">Vida Kids</h1>
            <p class="text-white">Todos los sabados a partir de las 10hs <br/> 
            Niños a partir de los 3 años de edad hasta los 12 años. <p class=" inline md:hidden"> ¡No te lo pierdas!</p>
        <p class="hidden md:inline"> ¡No te lo pierdas!

        </p>
        
          </div>
          
        </div>
      </div>
    </div>

    <div class="JovenesVida card">
        <div class="wrapper">
          
          <div class="data">
            <div class="content">
              <h1 class="title text-white font-bold py-3">Jovenes Vida</h1>
              <p class="text-white">Todos los sabados a partir de las 21hs <br/> 
              A partir de los 18 años de edad. No tenemos limite de edad. <p class=" inline md:hidden"> ¡Te esperamos!</p>
               <p class="hidden md:inline"> ¡Te esperamos! </p>
            </p>
          
            </div>
            
          </div>
        </div>
      </div>

      
    <div class="VidaTeens card">
        <div class="wrapper">
          
          <div class="data">
            <div class="content">
              <h1 class="title text-white font-bold py-3">Vida Teens</h1>
              <p class="text-white">Todos los sabados a partir de las 18hs <br/> 
              Si tenes entre 15 y 18 años te esperamos. No te podes perder nuestras tardes teens. </p>
                <p class="hidden md:inline">Veni a compartir y ser parte.</p>
            </div>
            
          </div>
        </div>
      </div>
    
  
      <div class="PowerTeens card">
        <div class="wrapper">
          
          <div class="data">
            <div class="content">
              <h1 class="title text-white font-bold py-3">PowerTeens</h1>
              <p class="text-white">Todos los sabados a partir de las 16hs <br/> 
              Si tenes entre 12 y 15 años te esperamos. No te podes perder nuestras tardes teens. </p>
              <p class="hidden md:inline">Te vas a divertir y aprender, te esperamos.</p>
            </div>
            
          </div>
        </div>
      </div>


  </div>
</section>

  <style>

    @font-face {
      font-family: Anta;
      src: url("/fonts/Anta-Regular.ttf") format("truetype") ;
      font-style: normal;
      font-display: swap;
      font-weight: bold;
    }

    h1{
      font-family: Anta, serif;
 
    }


@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

 * {
	 box-sizing: border-box;
}

 a {
	 text-decoration: none;
}


.content{

  justify-content: center;
  

}

.row.d-flex .card {
    flex: 1; 
    margin-right: 10px; 
}

.row.d-flex .card:last-child {
    margin-right: 0; 
}

 .card {
	 padding: 0 1.7rem;
	 width: 50%;
     height: auto%;
}
 .card .menu-content {
	 margin: 0;
	 padding: 0;
     width: 100%;
     height: 100%;
	 list-style-type: none;
}
 .card .menu-content::before, .card .menu-content::after {
	 content: '';
	 display: table;
}
 .card .menu-content::after {
	 clear: both;
}

 .card .wrapper {
	 background-color: #fff;
	 min-height: 540px;
	 position: relative;
	 overflow: hidden;
	 box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
 .card .wrapper:hover .data {
	 transform: translateY(0);
}
 .card .data {
	 position: absolute;
	 bottom: 0;
	 width: 100%;
	 transform: translateY(calc(70px + 1em));
	 transition: transform 0.3s;
}
 .card .data .content {
	 padding: 1em;
	 position: relative;
	 z-index: 1;
}
 .card .title {
	 margin-top: 10px;
}
 .card .text {
	 height: 70px;
	 margin: 0;
}

 .example-1 .wrapper {
	 background: url(../img/smile.jpg) 20% 1% / cover no-repeat;
     background-position: center;
}



 .example-1 .content {
	 background-color: #0a6996;
	 box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

 .example-1 .menu-content {
	 text-align: center;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 z-index: -1;
	 transition: transform 0.3s;
	 transform: translateY(0);
}


.JovenesVida .wrapper {
	 background: url(../img/smile.jpg) 20% 1% / cover no-repeat;
     background-position: center;
}

.JovenesVida  .content {
	 background-color: #0a6996;
	 box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

 .JovenesVida  .menu-content {
	 text-align: center;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 z-index: -1;
	 transition: transform 0.3s;
	 transform: translateY(0);
}

.VidaTeens .wrapper {
	 background: url(../img/smile.jpg) 20% 1% / cover no-repeat;
     background-position: center;
}

.VidaTeens  .content {
	 background-color: #0a6996;
	 box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

 .VidaTeens  .menu-content {
	 text-align: center;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 z-index: -1;
	 transition: transform 0.3s;
	 transform: translateY(0);
}

.PowerTeens .wrapper {
	 background: url(../img/smile.jpg) 20% 1% / cover no-repeat;
     background-position: center;
}

.PowerTeens  .content {
	 background-color: #0a6996;
	 box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

 .PowerTeens  .menu-content {
	 text-align: center;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 z-index: -1;
	 transition: transform 0.3s;
	 transform: translateY(0);
}


@media (max-width: 768px) {
  .row.h-full.flex {
    flex-direction: column; 
  }

  .card {
    width: 100%; 
    margin-bottom: 20px;
    height: 50%; 
  }

  .card .wrapper {
    min-height:  ; 
  }
}

@media (min-width: 768px) {
  .row.h-full.flex {
    flex-wrap: wrap; 
    justify-content: space-between; 
  }

  .card {
    width: calc(50% - 20px); 
    margin-bottom: 20px; 
  }
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #3e1e68;
    overflow: hidden;
}

.background span {
    width: 37vmin;
    height: 37vmin;
    border-radius: 37vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #e45a84;
    top: 16%;
    left: 96%;
    animation-duration: 20s;
    animation-delay: -19s;
    transform-origin: 9vw -19vh;
    box-shadow: -74vmin 0 9.941682837857673vmin currentColor;
}
.background span:nth-child(1) {
    color: #583c87;
    top: 79%;
    left: 49%;
    animation-duration: 19s;
    animation-delay: -12s;
    transform-origin: 9vw 24vh;
    box-shadow: 74vmin 0 9.411150333384139vmin currentColor;
}
.background span:nth-child(2) {
    color: #1a5fb4;
    top: 100%;
    left: 42%;
    animation-duration: 46s;
    animation-delay: -14s;
    transform-origin: 25vw 5vh;
    box-shadow: -74vmin 0 10.104937673471502vmin currentColor;
}
.background span:nth-child(3) {
    color: #583c87;
    top: 31%;
    left: 56%;
    animation-duration: 19s;
    animation-delay: -11s;
    transform-origin: 21vw 1vh;
    box-shadow: 74vmin 0 9.278573178928669vmin currentColor;
}
.background span:nth-child(4) {
    color: #583c87;
    top: 8%;
    left: 39%;
    animation-duration: 37s;
    animation-delay: -13s;
    transform-origin: 17vw 1vh;
    box-shadow: 74vmin 0 10.178923445230794vmin currentColor;
}
.background span:nth-child(5) {
    color: #e45a84;
    top: 39%;
    left: 40%;
    animation-duration: 23s;
    animation-delay: -48s;
    transform-origin: -17vw -22vh;
    box-shadow: -74vmin 0 9.823817488578378vmin currentColor;
}
.background span:nth-child(6) {
    color: #1a5fb4;
    top: 58%;
    left: 35%;
    animation-duration: 28s;
    animation-delay: -23s;
    transform-origin: -5vw -6vh;
    box-shadow: -74vmin 0 10.062216033306722vmin currentColor;
}
.background span:nth-child(7) {
    color: #583c87;
    top: 46%;
    left: 26%;
    animation-duration: 42s;
    animation-delay: -9s;
    transform-origin: -21vw 13vh;
    box-shadow: -74vmin 0 9.39979757073749vmin currentColor;
}
.background span:nth-child(8) {
    color: #e45a84;
    top: 70%;
    left: 58%;
    animation-duration: 31s;
    animation-delay: -32s;
    transform-origin: -20vw 23vh;
    box-shadow: -74vmin 0 9.985728371915359vmin currentColor;
}
.background span:nth-child(9) {
    color: #e45a84;
    top: 91%;
    left: 42%;
    animation-duration: 10s;
    animation-delay: -40s;
    transform-origin: -8vw -5vh;
    box-shadow: 74vmin 0 10.063999242156436vmin currentColor;
}
.background span:nth-child(10) {
    color: #583c87;
    top: 24%;
    left: 77%;
    animation-duration: 34s;
    animation-delay: -21s;
    transform-origin: 16vw -1vh;
    box-shadow: 74vmin 0 9.33551885651086vmin currentColor;
}
.background span:nth-child(11) {
    color: #e45a84;
    top: 55%;
    left: 75%;
    animation-duration: 54s;
    animation-delay: -37s;
    transform-origin: 9vw -7vh;
    box-shadow: 74vmin 0 9.530469341714369vmin currentColor;
}
.background span:nth-child(12) {
    color: #1a5fb4;
    top: 31%;
    left: 17%;
    animation-duration: 29s;
    animation-delay: -4s;
    transform-origin: 15vw 15vh;
    box-shadow: 74vmin 0 9.416913690263467vmin currentColor;
}
.background span:nth-child(13) {
    color: #583c87;
    top: 54%;
    left: 80%;
    animation-duration: 35s;
    animation-delay: -44s;
    transform-origin: -21vw 13vh;
    box-shadow: -74vmin 0 9.880036183761709vmin currentColor;
}
.background span:nth-child(14) {
    color: #583c87;
    top: 97%;
    left: 98%;
    animation-duration: 12s;
    animation-delay: -49s;
    transform-origin: -7vw -17vh;
    box-shadow: 74vmin 0 10.212090935902195vmin currentColor;
}
.background span:nth-child(15) {
    color: #e45a84;
    top: 64%;
    left: 93%;
    animation-duration: 38s;
    animation-delay: -10s;
    transform-origin: 8vw 20vh;
    box-shadow: 74vmin 0 9.252063278369269vmin currentColor;
}
.background span:nth-child(16) {
    color: #1a5fb4;
    top: 13%;
    left: 28%;
    animation-duration: 45s;
    animation-delay: -23s;
    transform-origin: 11vw 2vh;
    box-shadow: -74vmin 0 9.736094372654055vmin currentColor;
}
.background span:nth-child(17) {
    color: #583c87;
    top: 9%;
    left: 99%;
    animation-duration: 26s;
    animation-delay: -4s;
    transform-origin: -13vw 21vh;
    box-shadow: 74vmin 0 9.704883839170144vmin currentColor;
}
.background span:nth-child(18) {
    color: #1a5fb4;
    top: 47%;
    left: 20%;
    animation-duration: 18s;
    animation-delay: -18s;
    transform-origin: 24vw 5vh;
    box-shadow: -74vmin 0 10.032149462784172vmin currentColor;
}
.background span:nth-child(19) {
    color: #1a5fb4;
    top: 42%;
    left: 86%;
    animation-duration: 23s;
    animation-delay: -11s;
    transform-origin: 10vw 3vh;
    box-shadow: -74vmin 0 9.850023585463491vmin currentColor;
}
.background span:nth-child(20) {
    color: #1a5fb4;
    top: 55%;
    left: 46%;
    animation-duration: 30s;
    animation-delay: -1s;
    transform-origin: -4vw 4vh;
    box-shadow: -74vmin 0 9.366605100013057vmin currentColor;
}
.background span:nth-child(21) {
    color: #e45a84;
    top: 57%;
    left: 48%;
    animation-duration: 39s;
    animation-delay: -43s;
    transform-origin: -8vw 24vh;
    box-shadow: 74vmin 0 9.427354561459167vmin currentColor;
}
.background span:nth-child(22) {
    color: #1a5fb4;
    top: 72%;
    left: 26%;
    animation-duration: 14s;
    animation-delay: -33s;
    transform-origin: 7vw 20vh;
    box-shadow: 74vmin 0 9.786779202699249vmin currentColor;
}
.background span:nth-child(23) {
    color: #583c87;
    top: 74%;
    left: 71%;
    animation-duration: 29s;
    animation-delay: -40s;
    transform-origin: -24vw -23vh;
    box-shadow: 74vmin 0 10.03292153995387vmin currentColor;
}
.background span:nth-child(24) {
    color: #e45a84;
    top: 1%;
    left: 67%;
    animation-duration: 55s;
    animation-delay: -31s;
    transform-origin: -13vw 23vh;
    box-shadow: 74vmin 0 10.004328262280653vmin currentColor;
}
.background span:nth-child(25) {
    color: #583c87;
    top: 78%;
    left: 69%;
    animation-duration: 31s;
    animation-delay: -45s;
    transform-origin: -10vw 0vh;
    box-shadow: 74vmin 0 9.488939155872526vmin currentColor;
}
.background span:nth-child(26) {
    color: #e45a84;
    top: 98%;
    left: 52%;
    animation-duration: 23s;
    animation-delay: -19s;
    transform-origin: 6vw -3vh;
    box-shadow: 74vmin 0 9.39090882619549vmin currentColor;
}
.background span:nth-child(27) {
    color: #1a5fb4;
    top: 97%;
    left: 81%;
    animation-duration: 34s;
    animation-delay: -44s;
    transform-origin: -19vw 18vh;
    box-shadow: 74vmin 0 9.994973084997088vmin currentColor;
}
.background span:nth-child(28) {
    color: #583c87;
    top: 15%;
    left: 30%;
    animation-duration: 10s;
    animation-delay: -21s;
    transform-origin: 12vw 19vh;
    box-shadow: 74vmin 0 10.099677872779303vmin currentColor;
}


  </style>